<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Hello Bulma!</title>
		<link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
		<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        <link rel="stylesheet" href="home.component.css">
	
  
    <style>
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    </style>


	</head>

	<body>

        <!-- Name and Links -->
        <section class="hero">
          <div class="container">
            <h2 class="title">
                <span class="title-word title-word-1">TI</span>
                <span class="title-word title-word-2">NA</span>
                <span class="title-word title-word-3">IS</span>
                <span class="title-word title-word-4">MA</span>
                <span class="title-word title-word-5">IL</span>
              <div style="background-color: transparent; padding-right: 1%;">
                <a href="https://github.com/tinaismail"class="icon-style title-word title-word-1" alt="Github icon" style="font-size: xx-large; padding-inline: 10px;"><fa-icon [icon]="faGithub"></fa-icon></a>
                <a href="https://www.linkedin.com/in/tina-ismail" class="icon-style title-word title-word-2" alt="Twitter icon" style="font-size: xx-large; padding-inline: 10px;"><fa-icon [icon]="faLinkedin"></fa-icon></a>
                <a href="https://twitter.com/tinaismail_" class="icon-style title-word title-word-3" alt="Twitter icon" style="font-size: xx-large; padding-inline: 10px;"><fa-icon [icon]="faTwitter"></fa-icon></a>
                <a href="https://devpost.com/tinaismail" class="icon-style title-word title-word-4" alt="Lightbulb icon" style="font-size: xx-large; padding-inline: 10px;"><fa-icon [icon]="faLightbulb"></fa-icon></a>
              </div>
            </h2>
          </div>
        </section>
        <!-- /Name and Links -->

        <!-- Qualities -->
        <section class="section">
          <div class="container">
            <div class="columns is-multiline">

              <div class="column is-one-third">
                <article class="media notification has-background-white">
                  <figure class="media-left">
                    <span class="icon">
                      <i class="fas fa-lg fa-columns has-text-warning"></i>
                    </span>
                  </figure>
                  <div class="media-content">
                    <div class="content">
                      <h1 class="title-word sub-boxes title is-size-4">Student</h1>
                      <p class="subtitle is-size-5">
                        Studying <strong>Electrical Engineering</strong> at McMaster University
                      </p>
                    </div>
                  </div>
                </article>
              </div>

              <div class="column is-one-third">
                <article class="media notification has-background-white">
                  <figure class="media-left">
                    <span class="icon has-text-info">
                      <i class="fab fa-lg fa-wpforms"></i>
                    </span>
                  </figure>
                  <div class="media-content">
                    <div class="content">
                      <h1 class="title-word sub-boxes title is-size-4">Artist</h1>
                      <p class="subtitle is-size-5">
                        Eye for design. Sculptor and woodworker in a past life
                      </p>
                    </div>
                  </div>
                </article>
              </div>

              <div class="column is-one-third">
                <article class="media notification has-background-white">
                  <figure class="media-left">
                    <span class="icon has-text-danger">
                      <i class="fas fa-lg fa-cubes"></i>
                    </span>
                  </figure>
                  <div class="media-content">
                    <div class="content">
                      <h1 class="title-word sub-boxes title is-size-4">Developer</h1>
                      <p class="subtitle is-size-5">
                        Passionate about using programming as a tool
                      </p>
                    </div>
                  </div>
                </article>
              </div>

              <div class="column is-one-third">
                <article class="media notification has-background-white">
                  <figure class="media-left">
                    <span class="icon has-text-grey">
                      <i class="fas fa-lg fa-cogs"></i>
                    </span>
                  </figure>
                  <div class="media-content">
                    <div class="content">
                      <h1 class="title-word sub-boxes title is-size-4">Hacker</h1>
                      <p class="subtitle is-size-5">
                        Catch me at a hackathon! Check out my <a href="https://devpost.com/tinaismail">Devpost</a>
                      </p>
                    </div>
                  </div>
                </article>
              </div>

              <div class="column is-one-third">
                <article class="media notification has-background-white">
                  <figure class="media-left">
                    <span class="icon has-text-primary">
                      <i class="fas fa-lg fa-warehouse"></i>
                    </span>
                  </figure>
                  <div class="media-content">
                    <div class="content">
                      <h1 class="title-word sub-boxes title is-size-4">Personable</h1>
                      <p class="subtitle is-size-5">
                        Love to <a href="https://www.linkedin.com/in/tina-ismail/">network</a> and learn from others
                      </p>
                    </div>
                  </div>
                </article>
              </div>

              <div class="column is-one-third">
                <article class="media notification has-background-white">
                  <figure class="media-left">
                    <span class="icon has-text-danger">
                      <i class="fas fa-lg fa-cube"></i>
                    </span>
                  </figure>
                  <div class="media-content">
                    <div class="content">
                      <h1 class="title-word sub-boxes title is-size-4">Quick-Learner</h1>
                      <p class="subtitle is-size-5">
                        An autodidact, committed to learning new skills
                      </p>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </section>
        <!-- /Qualities -->

	</body>



    
 

<!--DOCS-->
<!--
	hero:       https://bulma.io/documentation/layout/hero/
	section:    https://bulma.io/documentation/layout/section/
	image:      https://bulma.io/documentation/elements/image/
	columns:    https://bulma.io/documentation/columns/basics/
	media:      https://bulma.io/documentation/layout/media-object/
	icon:       https://bulma.io/documentation/elements/icon/
	breadcrumb: https://bulma.io/documentation/components/breadcrumb/
	level:      https://bulma.io/documentation/layout/level/
-->



<!-- hero: https://bulma.io/documentation/layout/hero/
<section class="hero">
	<div class="hero-body">
	</div>
</section> -->

<!-- section: https://bulma.io/documentation/layout/section/ 
<section class="section">
	<div class="container">
	</div>
</section>-->

<!-- image: https://bulma.io/documentation/elements/image/ 
<figure class="image is-128x128">
	<img src="https://bulma.io/images/placeholders/128x128.png">
</figure>-->

<!-- columns: https://bulma.io/documentation/columns/basics/ 
<div class="columns">
	<div class="column">
	</div>
</div>-->

<!-- media: https://bulma.io/documentation/layout/media-object/ 
<article class="media">
	<figure class="media-left">
	</figure>
	<div class="media-content">
		<div class="content">
		</div>
	</div>
</article>-->

<!-- icon: https://bulma.io/documentation/elements/icon/ 
<span class="icon has-text-success">
	<i class="fas fa-check-square"></i>
</span>-->

<!-- breadcrumb: https://bulma.io/documentation/components/breadcrumb/ 
<nav class="breadcrumb" aria-label="breadcrumbs">
	<ul>
		<li><a href="#"></a></li>
		<li class="is-active"><a href="#" aria-current="page"></a></li>
	</ul>
</nav>-->

<!-- level: https://bulma.io/documentation/layout/level/ 
<div class="level">
	<div class="level-item">
	</div>
</div>-->


